/*
'quattrocento_sansregular'
'quattrocento_sansbold'
'open_sanssemibold'
'open_sansregular'
'open_sanslight'
'open_sansbold'
*/
* {
  box-sizing: border-box;
}
body {
  min-width: 1140px;
  font: 16px/26px "open_sansregular";
  color: #8d8f92;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #a4aead;
  font: 14px "open_sanssemibold";
}
h1,
h2,
h3 {
  font: 18px "quattrocento_sansbold";
  color: #292f36;
}
.header-wrapper {
  background: #1d2126;
}
.nav-wrapper {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.header-wrapper nav.main-nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 630px;
}
.nav-wrapper .main-nav a {
  border: 2px transparent solid;
  padding: 8px 12px;
  border-radius: 5px;
}
.nav-wrapper .main-nav a:hover {
  border: 2px #5b6168 solid;
}
.nav-wrapper .main-nav a.active {
  color: #22a999;
  border: 2px #23b7a4 solid;
}
.nav-wrapper span.logo {
  background: url(../images/header-logo.png);
  width: 95px;
  height: 20px;
}
.navigation{
  display: none;
}
#menuToggle
{
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a
{
  border-radius: 5px;
  padding: 8px 12px;
  text-decoration: none;
  color: #a4aead;
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  color: #22a999;
  border: 2px #23b7a4 solid;
}
#menuToggle input:focus #menuToggle{
    display: block;
    left: 25px;
}
#menuToggle input
{
  display: block;
  width: 49px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: 15px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-left: 20px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #cdcdcd;
  left: 20px;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 290px;
  margin: -100px 0 0 -50px;
  padding: 50px 0 79px 120px;
  padding-top: 125px;
  text-align: center;
  left: -100px;
  opacity: 0.9;
  background: #1d2126;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-400%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
.main-gallery {
  position: relative;
  margin-bottom: 80px;
}
.gallery-holder img {
  width: 100%;
}
.main-gallery .market-place {
  width: 1140px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slick-dots {
  display: flex;
  justify-content: flex-end;
  width: 1140px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 30px;
  margin: auto;
  z-index: 1;
}
.slick-active,
.slick-dots li:hover {
  background: #ffffff;
}
.slick-dots li {
  display: inline-block;
  border: 2px white solid;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-right: 7px;
  cursor: pointer;
}
.market-place h1 {
  padding-bottom: 25px;
  font-size: 36px;
  color: #ffffff;
}
.market-place p {
  padding-bottom: 60px;
  color: #ccd0d7;
}
.market-place a {
  padding: 12px 25px 12px 20px;
  border: 2px #ffffff solid;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 10px;
  font: 14px "quattrocento_sansbold";
}
.market-place ul {
  display: flex;
  margin-bottom: 16px;
}
.market-place a:hover {
  background: #23b7a4;
}
.modest-wrapper {
  border-bottom: 1px #dde1e4 solid;
  margin-bottom: 80px;
}
.modest-info {
  width: 1140px;
  margin: auto;
  display: flex;
  margin-bottom: 70px;
}
.main-art h2,
.team-wrapper h2 {
  font-size: 36px;
  margin-bottom: 60px;
  padding-left: 14px;
  border-left: 10px #e1e6ea solid;
}
.main-art {
  width: calc(100% - 440px);
  margin-right: 35px;
}
.main-art p {
  padding-bottom: 35px;
}
.main-art p strong {
  font: 16px "open_sansbold";
  color: #8d8f92;
}
ul.social {
  display: flex;
}
ul.social li a {
  display: inline-block;
  background: #c8cdd0;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  margin-right: 1px;
}
ul.social li a:hover {
  opacity: 0.8;
}
ul.advantages {
  width: calc(100% - 650px);
  margin-top: 105px;
}
ul.advantages li {
  margin-bottom: 30px;
  position: relative;
  padding-left: 70px;
}
ul.advantages li::before {
  content: "01";
  position: absolute;
  left: 0;
  background: #23b7a4;
  color: #ffffff;
  width: 48px;
  height: 48px;
  text-align: center;
  font: 20px/48px "quattrocento_sansbold";
}
ul.advantages li:nth-child(2)::before {
  content: "02";
}
ul.advantages li:nth-child(3)::before {
  content: "03";
}
ul.advantages li h3 {
  margin-bottom: 15px;
}
.team-wrapper {
    width: 1140px;
  margin: auto;
  min-height: 645px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.team-info>ul {
  display: flex;
  justify-content: space-between;
}
.team-info ul a {
  text-transform: none;
}
.team-info ul li {
  position: relative;
}
.team-info ul img {
  display: block;
}
.team-info ul li>ul {
  position: absolute;
  top: calc(50% - 44px);
  left: calc(50% - 76px);
  display: none;
}
.team-info ul li:hover ul {
  display: flex;
}
.team-info ul li:hover img {
  opacity: 0.7;
}
.team-info ul li > ul a {
  display: inline-block;
  background: #3a454d;
  width: 50px;
  height: 50px;
  margin-right: 2px;
  line-height: 50px;
  text-align: center;
}
.team-info ul li>ul a:hover {
  background: #4e5a62;
}
.team-info ul li:hover h3,
.team-info ul li:hover h3 span {
  background: #3a454d;
  color: #ffffff;
}
.team-info ul h3 span {
  display: block;
  color: #8d8f92;
  font: 14px/23px "open_sansregular";
}
.team-info ul h3 {
  padding: 18px 15px;
  background: #e1e6ea;
  font: 16px "quattrocento_sansbold";
}
